body {
    background: rgba(236, 232, 223, 0.659) url(Invitation_bg_image.png) no-repeat fixed center;
    background-size: cover;
}

#invitation {
    height: 570px;
    width: 500px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 1.4px solid rgba(204, 161, 61, 0.881);
    border-top-right-radius: 230px;
    border-top-left-radius: 230px;
}

#invitation-content {
    text-align: center;
    margin-top: 110px;
}

#invitation-content > p {
    font-size: 20px;
    margin: 50px;
}

#invitation-content > #service-details {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: auto;
    margin-top: 35px;
}

#form-att {
    display: block;
    text-align: center;
}

p {
    font-family: 'Courier New', Courier, monospace;
    color: rgba(10, 10, 10, 0.479);
    font-weight: bolder;
    font-size: 17px;
    margin-bottom: 15px;
}

hr {
    width: 25em;
    border-color: rgba(0, 0, 0, 0.223);
    margin-bottom: 20px;
}

.name {
    padding: 8px 8px;
    width: 17%;
    line-height: 24px;
    border-radius: 3px;
    box-sizing: border-box;
    border: 1px solid rgba(116, 105, 105, 0.111);
    margin: 0 5px;
    background-color: rgba(231, 181, 111, 0.119);
    outline: none;
    text-align: right;
    color: rgba(199, 170, 96, 0.781);
    font-family: 'Courier New', Courier, monospace;
}

input[type=text]:focus {
    border: 2px solid rgba(199, 170, 96, 0.281);
    background-color: rgba(211, 178, 142, 0.255);
}

.search-container {
    margin-top: 15px;
}

.buttons {
    margin: auto;
    background-color: rgba(229, 200, 114, 0.468);
    border: 2px solid rgba(51, 48, 44, 0.216);
    padding: 8px 30px;
    line-height: 24px;
    border-radius: 4px;
    font-weight: bold;
    color: rgba(10, 10, 10, 0.6);
    font-family: 'Courier New', Courier, monospace;
}

#result {
    text-align: center;
    justify-content: center;
    border: none;
    margin: 20px;
}

.row {
    direction: rtl;
    display: flex;
    margin: auto;
    padding: 8px 8px;
    width: 40%;
    line-height: 24px;
    border-radius: 6px;
    box-sizing: border-box;
    border: 1px solid rgba(116, 105, 105, 0.111);
    background-color: rgba(231, 181, 111, 0.119);
    font-family: 'Courier New', Courier, monospace;
    font-size: 17px;
    margin-bottom: 15px;
}

.r-update {
    justify-content: space-between;
    min-width: 430px;
    padding-left: 7%;
}

#row>p {
    margin: 5px;
    color: rgba(0, 0, 0, 0.473);
}

#select-button {
    background-color: rgba(229, 200, 114, 0.468);
    border: 2px solid rgba(51, 48, 44, 0.216);
    padding: 8px 30px;
    line-height: 24px;
    border-radius: 4px;
    font-weight: bold;
    color: rgba(10, 10, 10, 0.6);
    font-family: 'Courier New', Courier, monospace;
}

#update-att {
    display: block;
    text-align: center;
    border: none;
    margin: auto;
}

#success-message {
    justify-content: center;
    margin: auto;
    align-items: center;
}

#guest-name {
    text-align: right;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 5px;
}

#attendance-options {
    text-align: right;
    width: 190px;
    display: flex;
    justify-content: space-between;
}

#attendance-options label {
    margin-right: 10px;
}

#attendance-options input[type="radio"] {
    vertical-align: middle;
}

#success-message {
    display: flex;
    /* Use flexbox for centering */
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    margin: auto;
    /* Center horizontally */
    text-align: center;
    /* Align text to the center */
    height: 100%;
    /* Make the container fill the height of its parent */
}